{% include base_path %}

<div class="home-entry">
  <h4>
    {% if include.post.publicationurl %}
      <a href="{{ include.post.publicationurl }}">{{ include.post.title }}</a>
    {% elsif include.post.link %}
      <a href="{{ include.post.link }}">{{ include.post.title }}</a>
    {% elsif include.post.nolink %}
      {{ include.post.title }}
    {% else %}
      <a href="{{ include.post.url | prepend: base_path }}">{{ include.post.title }}</a>
    {% endif %}
  </h4>
  {% if include.post.coauthors %}
    <p>
      with
      {% for author in include.post.coauthors %}
        {% if author.url %}<a href="{{ author.url }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </p>
  {% endif %}
  {% if include.post.venue or include.post.date %}
    <p>
      {% if include.post.venue %}<span>{{ include.post.venue }}</span>{% endif %}
      {% if include.post.date %}<span>{{ include.post.date | date: "%Y" }}</span>{% endif %}
    </p>
  {% endif %}
  {% if include.post.paperurl %}
    <p>
      <a href="{{ include.post.paperurl }}">PDF</a>
    </p>
  {% endif %}
</div>
